APP_ENV=local
APP_URL=http://localhost:8000
APP_PORT=8000

DB_HOST=127.0.0.1
DB_PORT=3307
DB_FORWARD_PORT=3307
DB_DATABASE=appdb
DB_USERNAME=appuser
DB_PASSWORD=apppass
DB_ROOT_PASSWORD=rootpass

PHPMYADMIN_PORT=8080
