# PHP deps
/vendor/

# Environment
.env
.env.*
!.env.example

# IDE / Editor
/.idea/
/.vscode/
/*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Logs, temp
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
*.log

# Docker
*.pid

# Tool caches
/var/
.phpunit.result.cache
