# PHP deps
/vendor/

# IDE / Editor
/.idea/
/.vscode/
/*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Logs, temp
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
*.log

# Docker
*.pid
